<div class="container-fluid">
    <div class="row page-title-div">
        <div class="col-sm-12">
            <!--<h3 class="title">Dashboard</h3>-->

            <div class="col-md-2 align-top">
                <div class="dropdown" dropdown>
                    <button dropdownToggle class="btn btn-default dropdown-toggle" type="button" id="menu14" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
            		<i class="fa fa-calendar" aria-hidden="true"></i> Date Range
            		<span class="caret"></span>
            	    </button>
                    <ul *dropdownMenu class="dropdown-menu bg-gray" aria-labelledby="menu14" (click)="$event.stopPropagation();" style="min-width: 300px">
                        <!--<div class="col-md-6">
                            <div *ngFor="let options of dateOptions | slice:0:4">
                                <div class="checkbox">
                                    <label>
                        			      <input type="radio" name="dateOptions" value="{{options.id}}"> {{options.value}}
                        		         </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div *ngFor="let options of dateOptions | slice:4">
                                <div class="checkbox">
                                    <label>
                        			      <input type="radio" name="dateOptions" value="{{options.id}}"> {{options.value}}
                        		         </label>
                                </div>
                            </div>
                        </div>-->
                        <ng-daterangepicker [(ngModel)]="value" [options]="options"></ng-daterangepicker>
                        <!--<div>
                            <button class="btn btn-danger pull-right">Close</button>
                        </div>-->
                    </ul>
                </div>
            </div>

            <div class="col-md-8">
                <tag-input [ngModel]="[]" theme='dark' [onlyFromAutocomplete]="true" [placeholder]="'Add Yards'" [secondaryPlaceholder]="'Add Yards'"
                    (onAdd)="onYardAdd($event)" (onRemove)="onYardRemove($event)">
                    <tag-input-dropdown [autocompleteItems]="items" [showDropdownIfEmpty]="true" [identifyBy]="'name'" [displayBy]="'name'">
                    </tag-input-dropdown>
                </tag-input>
            </div>

            <div class="col-md-2 align-top">
                <button type="button" class="btn btn-danger btn-rounded btn-labeled">Search<span class="btn-label btn-label-right"><i class="fa fa-search"></i></span></button>
            </div>
        </div>
    </div>
</div>

<section class="section pt-n">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="panel border-primary no-border border-3-top" data-panel-control>
                    <div class="panel-heading">
                        <div class="panel-title">

                            <div class="pull-right">
                                <button type="button" class="btn btn-success" (click)="onExportClick()"><i class="fa fa-save"></i> <span class="hidden-xs">Export</span></button>
                            </div>

                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-sx-12">
                                <div class="panel no-margin">
                                    <div class="panel-body invoice-table">

                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover no-margin">
                                                <thead>
                                                    <tr>
                                                        <th style="width:10%">Sl. No.</th>
                                                        <th style="width:20%">Product Name</th>
                                                        <th style="width:40%">Description</th>
                                                        <th style="width:10%">Quantity</th>
                                                        <th style="width:10%">VAT</th>
                                                        <th style="width:10%">Total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>001</td>
                                                        <td>Product 1</td>
                                                        <td>
                                                            <span class="text-info">Incentivize platforms Incentivize user-contributed...</span>
                                                        </td>
                                                        <td><span class="label label-info">5</span></td>
                                                        <td>2.24%</td>
                                                        <td>50.00$</td>
                                                    </tr>
                                                    <tr>
                                                        <td>002</td>
                                                        <td>Product 2</td>
                                                        <td>
                                                            <span class="text-danger">Enable innovate leverage tagclouds Incentivize platforms...</span>
                                                        </td>
                                                        <td><span class="label label-danger">22</span></td>
                                                        <td>6.59%</td>
                                                        <td>130.00$</td>
                                                    </tr>
                                                    <tr>
                                                        <td>003</td>
                                                        <td>Product 3</td>
                                                        <td>
                                                            <span class="text-success">E-business web services Enable innovate leverage tagclouds...</span>
                                                        </td>
                                                        <td><span class="label label-success">09</span></td>
                                                        <td>2.50%</td>
                                                        <td>220.00$</td>
                                                    </tr>
                                                    <tr>
                                                        <td>004</td>
                                                        <td>Product 4</td>
                                                        <td>
                                                            <span class="text-info">Enable innovate leverage tag</span>
                                                        </td>
                                                        <td><span class="label label-info">11</span></td>
                                                        <td>2.50%</td>
                                                        <td>1220.00$</td>
                                                    </tr>
                                                    <tr>
                                                        <td>005</td>
                                                        <td>Product 4</td>
                                                        <td>
                                                            Services Enable innovate.
                                                        </td>
                                                        <td><span class="label label-warning">35</span></td>
                                                        <td>2.50%</td>
                                                        <td>450.00$</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="total" colspan="5">Subtotal</td>
                                                        <td>400.00$</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="total" colspan="5">Tax (9.25%)</td>
                                                        <td>4000.00$</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="total" colspan="5">Discount</td>
                                                        <td>10%</td>
                                                    </tr>
                                                    <tr class="warning">
                                                        <td class="total text-warning" colspan="5">
                                                            <h5>Total</h5>
                                                        </td>
                                                        <td class="hidden-phone text-info">
                                                            <h4>26000.00$</h4>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel -->
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.section -->